= form_for(@application) do |f|
  %dl
    %dt When did you first start programming?  In what language, and in what circumstances?
    %dd= f.text_area :answer1

    %dt What made you decide on a career in software development?
    %dd= f.text_area :answer2

    %dt What, if anything, do you dislike about software development?
    %dd= f.text_area :answer3

    %dt What single thing most changed the way you think about software, or working in software?
    %dd= f.text_area :answer4

  = f.submit

